.galeria {
    margin: 30px;
    background: #ffffff;
}

.proximosEventos {
    background-color: #000000;
}

#proximosEventosFont {
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

#galeria {
    padding-top: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.container__img {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten al espacio disponible */
    justify-content: center;
    gap: 20px; /* Espacio entre las imágenes */
    padding: 0px 50px 20px;

}

.caja {
    flex: 1 1 200px; /* Define que cada caja ocupe el mismo ancho mínimo de 200px */
    max-width: 250px; /* Limita el ancho máximo de cada caja */
    border-radius: 10px; /* Bordes redondeados para un diseño uniforme */
    overflow: hidden; /* Evita que las imágenes sobresalgan */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  Sombra para dar profundidad */
    /*transition: transform 0.3s ease, box-shadow 0.3s ease;*/
}

.caja img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asegura que la imagen mantenga su proporción sin deformarse */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* Responsividad para pantallas pequeñas */
@media (max-width: 991px) {
    .container__img {
        gap: 15px; /* Reduce el espacio entre las imágenes en pantallas pequeñas */
    }

    .caja {
        flex: 1 1 150px; /* Ajusta el tamaño mínimo en pantallas pequeñas */
        max-width: 200px;
    }
}
