.scroll__to__top {
    position: fixed;
    bottom: 140px;
    right: 55px;
    display: block;
    z-index: 1000;
}

#back__to__top {
    background-color: rgba(236, 112, 11, 0); 
    color: #d14545; 
    border-radius: 30px; 
    padding: 0; 
    cursor: pointer; 
    transition: all 0.1s ease-in-out;
}

#back__to__top i {
    font-size: 40px;
    padding-top: 2.5px; 
}


#back__to__top:hover {
    color: #0C7ED2; 
}

/* CSS para los otros botones */
.btn-custom {
    background-color: #FFC200; 
    color: #ffffff; 
    border: none; 
}

.btn-custom:hover {
    background-color: #0C7ED2;
    color: #ffffff; 
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
