.first-carousel .carousel-item {
    width: 100%;
    height: 600px; 
    position: relative;
}

.first-carousel .carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: contain; 
    
}


@media (max-width: 768px) {
    .first-carousel .carousel-item {
        height: 400px; 
    }

    .first-carousel .carousel-item img {
        height: auto; 
    }
}

.second-carousel .carousel-item {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative; 
}

.second-carousel .carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}


.second-carousel .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2; 
}

.carousel-overlay h2 {
    margin-bottom: 20px;
}

.second-carousel .carousel-inner {
    position: relative; 
}


.carousel-overlay h2 {
    margin-bottom: 20px;
}

/* Estilo para "ACI MÉXICO" */
.carousel-overlay .main-text {
    font-size: 2.5rem;
    font-weight: bold;
}


.carousel-overlay .sub-text {
    font-size: 1.5rem; 
    font-weight: normal;
}

/* Consulta de medios para pantallas grandes (escritorio) */
@media (min-width: 992px) { 
    .carousel-overlay .main-text {
        font-size: 4.5rem; 
    }

    .carousel-overlay .sub-text {
        font-size: 2.5rem; 
    }
}


@media (max-width: 768px) {
    .second-carousel .carousel-item {
        height: 40vh;
    }
}
