/* Primer Carrusel: Altura fija */
.first-carousel .carousel-item {
    width: 100%;
    height: 600px; /* Ajusta la altura según tus necesidades */
}

.first-carousel .carousel-item img {
    width: 100%;
    height: 100%; /* Ocupa toda la altura del contenedor */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortar */
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .first-carousel .carousel-item {
        height: 400px; /* Ajusta la altura para pantallas pequeñas */
    }

    .first-carousel .carousel-item img {
        height: auto; /* Ajusta la imagen para que mantenga la proporción en pantallas pequeñas */
    }
}

/* Segundo Carrusel: Ajustar al ancho de la pantalla y mantener proporción */
/* Segundo Carrusel: Ajustar al ancho de la pantalla y mantener proporción */
.second-carousel .carousel-item {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative; /* Asegura que el overlay se posicione correctamente */
}

.second-carousel .carousel-item img {
    width: 100%;
    height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    object-fit: cover;
}

/* Overlay */
.second-carousel .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen, ajusta la opacidad según sea necesario */
    z-index: 1; /* Coloca el overlay debajo del texto pero encima de la imagen */
}

.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2; /* Asegura que el texto esté encima del overlay */
}

.carousel-overlay h2 {
    margin-bottom: 20px;
}

.second-carousel .carousel-inner {
    position: relative; /* Para asegurar que el overlay se posicione correctamente */
}

/* Estilo general para el overlay */
.carousel-overlay h2 {
    margin-bottom: 20px;
}

/* Estilo para "ACI MÉXICO" */
.carousel-overlay .main-text {
    font-size: 2.5rem; /* Tamaño más grande para "ACI MÉXICO" */
    font-weight: bold;
}

/* Estilo para "Capítulo Noroeste" */
.carousel-overlay .sub-text {
    font-size: 1.5rem; /* Tamaño más pequeño para "Capítulo Noroeste" */
    font-weight: normal;
}

/* Consulta de medios para pantallas grandes (escritorio) */
@media (min-width: 992px) { 
    .carousel-overlay .main-text {
        font-size: 4.5rem; /* Ajustar según el tamaño deseado en escritorio */
    }

    .carousel-overlay .sub-text {
        font-size: 2.5rem; /* Ajustar según el tamaño deseado en escritorio */
    }
}


@media (max-width: 768px) {
    .second-carousel .carousel-item {
        height: 40vh;
    }
}
